.App {
  margin: 45px;
}

.color-1 {
  background: #ededed;
}
.color-2 {
  background: #acd5f2;
}
.color-3 {
  background: #7fa8c9;
}
.color-4 {
  background: #527ba0;
}
.color-5 {
  background: #254e77;
}

